<p id="notice"><%= notice %></p>

<p>
  <p class="lead">Name:</p>
  	<div class="list-group">
	 <div class="list-group-item">
	   <h4 class="list-group-item-heading"><%= @project.name %></h4>
	 </div>
	</div>  
</p>

<p>
  <p class="lead">Requirements:</p>
  	<div class="list-group">
	 <div class="list-group-item">
	   <h4 class="list-group-item-heading"><%= @project.requirements %></h4>
	 </div>
	</div>    
</p>

<p>
  <p class="lead">Course:</p>
  	<div class="list-group">
	 <div class="list-group-item">
	   <h4 class="list-group-item-heading"><%= @project.course.name %></h4>
	 </div>
	</div>    
</p>

<p>
  <p class="lead">Day:</p>
  	<div class="list-group">
	 <div class="list-group-item">
	   <h4 class="list-group-item-heading"><%= @project.day.day %></h4>
	 </div>
	</div>     
</p>

<hr></hr>

<%= link_to 'edit', edit_project_path(@project) %> |
<%= link_to 'back', projects_path %>
