<p id="notice"><%= notice %></p>

<p>
  <p class="lead">Name:</p>
  <%= @project.name %>
</p>

<p>
  <p class="lead">Requirements:</p>
  <%= @project.requirements %>
</p>

<p>
  <p class="lead">Course:</p>
  <%= @project.course.name %>
</p>

<p>
  <p class="lead">Day:</p>
  <%= @project.day.day %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
