<%= form_for(@practice) do |f| %>
  <% if @practice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@practice.errors.count, "error") %> prohibited this practice from being saved:</h2>

      <ul>
      <% @practice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :group_id %><br>
    <%= f.select( :group_id, options_from_collection_for_select(Group.all, :id, :name)) %>
  </div>
  <div class="field">
    <%= f.label :day_id %><br>
    <%= f.select( :day_id, options_from_collection_for_select(Day.all, :id, :day)) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
