<%= form_for(@practice) do |f| %>
  <% if @practice.errors.any? %>
    <div class="alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong><%= pluralize(@practice.errors.count, "error") %> prohibited this test from being saved:</strong> 
      <ul>
        <% @practice.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :group_id %><br>
    <%= f.select( :group_id, options_from_collection_for_select(Group.all, :id, :name)) %>
  </div>
  <div class="field">
    <%= f.label :day_id %><br>
    <%= f.select( :day_id, options_from_collection_for_select(Day.all, :id, :day)) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
