<h1>listing practices</h1>

<table class="table content-table">
  <thead>
    <tr>
      <th>Group</th>
      <th>Day</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @practices.each do |practice| %>
      <tr>
        <td><%= practice.group.name %></td>
        <td><%= practice.day.day %></td>
        <td><%= link_to 'Show', practice, :class => 'btn btn-default btn-small' %></td>
        <td><%= link_to 'Edit', edit_practice_path(practice), :class => 'btn btn-warning btn-small' %></td>
        <td><%= link_to 'Destroy', practice, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-small' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Practice', new_practice_path, :class => 'btn btn-primary btn-large' %>
