<p id="notice"><%= notice %></p>

<p>
  <p class="lead">Group:</p>
  <%= @practice.group.name %>
</p>

<p>
  <p class="lead">Day:</p>
  <%= @practice.day.day %>
</p>

<%= link_to 'Edit', edit_practice_path(@practice) %> |
<%= link_to 'Back', practices_path %>
