<p id="notice"><%= notice %></p>

<p>
  <p class="lead">Group:</p>
  	<div class="list-group">
	 <div class="list-group-item">
	   <h4 class="list-group-item-heading"><%= @practice.group.name %></h4>
	 </div>
	</div>
</p>



<p>
  <p class="lead">Day:</p>
	<div class="list-group">
	 <div class="list-group-item">
	   <h4 class="list-group-item-heading"><%= @practice.day.day %></h4>
	 </div>
	</div>  
</p>



<hr></hr>

<%= link_to 'edit', edit_practice_path(@practice) %> |
<%= link_to 'back', practices_path %>
