<p id="notice"><%= notice %></p>

<p>
  <strong>Group:</strong>
  <%= @practice.group.name %>
</p>

<p>
  <strong>Day:</strong>
  <%= @practice.day.day %>
</p>

<%= link_to 'Edit', edit_practice_path(@practice) %> |
<%= link_to 'Back', practices_path %>
