<p id="notice"><%= notice %></p>

<p>
  <p class="lead">Assignment:</p>
	<div class="list-group">
	 <div class="list-group-item">
	   <h4 class="list-group-item-heading"><%= @homework.assignment %></h4>
	 </div>
	</div>  
</p>

<p>
  <p class="lead">Day:</p>
	<div class="list-group">
	 <div class="list-group-item">
	   <h4 class="list-group-item-heading"><%= @homework.day.day %></h4>
	 </div>
	</div>   
</p>

<p>
  <p class="lead">Course:</p>
	<div class="list-group">
	 <div class="list-group-item">
	   <h4 class="list-group-item-heading"><%= @homework.course.name %></h4>
	 </div>
	</div>  
</p>

<hr></hr>   

<%= link_to 'edit', edit_homework_path(@homework) %> |
<%= link_to 'back', homeworks_path %>
