<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1><%= @course.name %> <small>course name</small></h1>
</div>

<p class="lead">Assignments:</p>
<% @course.homeworks.each do |homework| %>
	<div class="list-group">
	  <div class="list-group-item">
	    <h4 class="list-group-item-heading"><%= homework.assignment %></h4>
		<p class="list-group-item-text"><%= homework.day.day %></p>
	  </div>
	</div>
<% end %>
<p><%= link_to 'add assignment', new_homework_path %></p>

<p class="lead">Tests:</p>
<% @course.tests.each do |test| %>
	<div class="list-group">
	  <div class="list-group-item">
	    <h4 class="list-group-item-heading"><%= test.subject %></h4>
		<p class="list-group-item-text"><%= test.day.day %></p>
	  </div>
	</div>
<% end %>
<p><%= link_to 'add test', new_test_path %></p>

<p class="lead">Projects:</p>
<% @course.projects.each do |project| %>
	<div class="list-group">
	  <div class="list-group-item">
	    <h4 class="list-group-item-heading"><%= project.name %></h4>
		<p class="list-group-item-text"><%= project.requirements %></p>
		<p class="list-group-item-text"><%= project.day.day %></p>
	  </div>
	</div>
<% end %>
<p><%= link_to 'add project', new_project_path %></p>

<hr></hr>

<%= link_to 'edit', edit_course_path(@course) %> |
<%= link_to 'back', courses_path %>
