<%= form_for(@test) do |f| %>
  <% if @test.errors.any? %>
    <div class="alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong><%= pluralize(@test.errors.count, "error") %> prohibited this test from being saved:</strong> 
      <ul>
        <% @test.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :subject %><br>
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <%= f.label :course_id %><br>
    <%= f.select :course_id, options_from_collection_for_select(Course.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :day_id %><br>
    <%= f.select :day_id, options_from_collection_for_select(Day.all, :id, :day) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
