<p id="notice"><%= notice %></p>

<p>
  <p class="lead">Subject:</p>
  <%= @test.subject %>
</p>

<p>
  <p class="lead">Course:</p>
  <%= @test.course.name %>
</p>

<p>
  <p class="lead">Day:</p>
  <%= @test.day.day %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
