<p id="notice"><%= notice %></p>

<p>
  <p class="lead">Subject:</p>
  	<div class="list-group">
	 <div class="list-group-item">
	   <h4 class="list-group-item-heading"><%= @test.subject %></h4>
	 </div>
	</div>  
</p>

<p>
  <p class="lead">Course:</p>
  	<div class="list-group">
	 <div class="list-group-item">
	   <h4 class="list-group-item-heading"><%= @test.course.name %></h4>
	 </div>
	</div>   
</p>

<p>
  <p class="lead">Day:</p>
  	<div class="list-group">
	 <div class="list-group-item">
	   <h4 class="list-group-item-heading"><%= @test.day.day %></h4>
	 </div>
	</div>  
</p>

<hr></hr>

<%= link_to 'edit', edit_test_path(@test) %> |
<%= link_to 'back', tests_path %>
