<!DOCTYPE html>
<html>
<head>
  <title>SchoolPlanner</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar">
  <a class="navbar-brand" href="<%= root_url %>">planner</a>
  <ul class="nav navbar-nav">
    <li><a href="<%= days_url %>">days</a></li>
    <li><a href="<%= groups_url %>">groups</a></li>
    <li><a href="<%= courses_url %>">courses</a></li>
    <li><a href="<%= practices_url %>">practices</a></li>
    <li><a href="<%= homeworks_url %>">homework</a></li>
    <li><a href="<%= tests_url %>">tests</a></li>
    <li><a href="<%= projects_url %>">projects</a></li>
  </ul>
</div>

<div class="container">
<%= yield %>
</div>

</body>
</html>
